/*- Family: [Overpass](https://fonts.google.com/specimen/Overpass)*/
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Light-Grey-transparent: hsla(217, 12%, 63%, 0.082);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
  background: var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  font-size: calc(1rem - 1px);
}

/*general styles*/

.card {
  padding: 30px;
  width: 375px;
  background: var(--Dark-Blue);
  border-radius: 1.5rem;
}

.card-icon {
  background: var(--Light-Grey-transparent);
  padding: 15px;
  border-radius: 50%;
  max-width: fit-content;
  display: flex;
  align-items: center;
}

.card h1 {
  margin: 20px 0 10px 0;
  color: var(--White);
}

.card p {
  color: var(--Light-Grey);
  line-height: 1.5rem;
  max-width: 300px;
}

.card-button {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 15px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 2rem;
  color: var(--White);
  background: var(--Orange);
  transition: 0.2s;
}

.card-button:hover {
  background-color: var(--White);
  color: var(--Orange);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.form-button {
  background: var(--Light-Grey-transparent);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--White);
  transition: 0.2s;
}

.form-button span {
  color: var(--Light-Grey);
}

.form-button:hover span {
  color: var(--White);
}

.form-button.active {
  background: var(--Orange);
}

.form-button input {
  display: none;
}

.form-button.active span {
  color: var(--White);
}

.form-button:hover {
  background: var(--Light-Grey);
}
